.blue {
  background: #a6bde3 !important;
}

.purple {
  background: #e0baf7 !important;
}

.greenblue {
  background: #9fede3 !important;
}

.green {
  background: #b9fab1 !important;
}

.orange {
  background: #edc0a4 !important;
}

.red {
  background: #e88b8b !important;
}

.pink {
  background: #e38abd !important;
}